<?xml version="1.0" encoding="UTF-8"?>
<config>
 <object id="1" instances_count="1">
  <metadata type="object" key="name" value="TRICKSTER.HTB"/>
  <volume firstid="0" lastid="2247">
   <metadata type="volume" key="name" value="TRICKSTER.HTB"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0.041014194488525391 0 0 1 2.2350000669248402 0 0 0 1"/>
   <metadata type="volume" key="extruder" value="0"/>
   <slic3rpe:text text="TRICKSTER.HTB" style_name="NORMAL" font_descriptor="1;9;-12;0;0;0;700;0;0;0;1;0;0;0;0;Segoe UI" font_descriptor_type="wxFontDescriptor_Windows" line_height="20" depth="5.6999988555908203" horizontal="1" vertical="1" face_name="Segoe UI" weight="bold" transform="1 0 0 0 1 0 0 0 1 0 -0.19694328308105469 2.8349994947202504" />
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="2" instances_count="1">
  <metadata type="object" key="name" value="Shape-Sphere"/>
  <volume firstid="0" lastid="1279">
   <metadata type="volume" key="name" value="Shape-Sphere"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="3" instances_count="1">
  <metadata type="object" key="name" value="Shape-Sphere"/>
  <metadata type="object" key="extruder" value="0"/>
  <volume firstid="0" lastid="1279">
   <metadata type="volume" key="name" value="Shape-Sphere"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="4" instances_count="1">
  <metadata type="object" key="name" value="Shape-Sphere"/>
  <volume firstid="0" lastid="1279">
   <metadata type="volume" key="name" value="Shape-Sphere"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="5" instances_count="1">
  <metadata type="object" key="name" value="Shape-Sphere"/>
  <volume firstid="0" lastid="1279">
   <metadata type="volume" key="name" value="Shape-Sphere"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
</config>
